<div class="row">
  <h1 class="tit">Proyectos <button type="button" class="btn btn-dark" routerLink="/nuevoproye" *ngIf="isLogged">Agregar proyecto</button></h1>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Proyecto of proyecto">
                  <td>
                      <h2>{{Proyecto.nombre}}</h2>
                  </td>
                  <a href="{{Proyecto.descripcion}}"><td>{{Proyecto.descripcion}}</td></a>
                  <td *ngIf="isLogged">
                      <button class="btn btn-light" routerLink="/editproye/{{Proyecto.id}}">
                          <i class="bi bi-pencil-fill"></i> EDITAR</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>