<div class="row">
    <h1 class="tit">Hard & Soft skills  <button type="button" routerLink="/nuevaapt" class="btn btn-dark" *ngIf="isLogged">Agregar skill</button></h1>
    <div class="text-center circu" *ngFor="let Aptitud of aptitud">
        <circle-progress class="col-sm"
        [percent]="(Aptitud.descripcion)" 
        [radius]="90" [imageSrc]="''" 
        [title]="(Aptitud.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="600">
        </circle-progress>
        <div class="circuboto">
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editapt/{{Aptitud.id}}">
                    <i class="uil uil-edit"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Aptitud.id)">
                    <i class="uil uil-trash-alt"></i></button>
            </td>
        </div>
    </div>
</div>
