<div class="row">
  <h1>Aptitudes</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaapt" *ngIf="isLogged">
          Agregar Aptitud
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Aptitud of aptitud">
                  <td>
                      <h2>{{Aptitud.nombre}}</h2>
                  </td>
                  <td>{{Aptitud.descripcion}}</td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-light" routerLink="/editapt/{{Aptitud.id}}">
                          <i class="bi bi-pencil-fill"></i> EDITAR</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="delete(Aptitud.id)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>