<div>
    <h2>
      Educacion
      <i class="uil uil-edit" (click)="edit()" style="color: #65B315"></i>
      <i class="uil uil-plus-square" (click)="adding()" style="color: #0FB7E8"></i>
    </h2>
    <div *ngIf="isAdding">
      <input type="text" [(ngModel)]="descripcion">
      <i class="uil uil-plus-circle" (click)="add()" style="color: #0FB7E8"></i>
    </div>
    <div *ngFor="let educacion of educaciones">
      <li *ngIf="!isEditing">{{educacion.descripcion}}
        <i class="uil uil-ban" (click)="eliminar(educacion)" style="color: #FB0000" ></i>
      </li> 
      <input *ngIf="isEditing" [(ngModel)]="educacion.descripcion"> 
    </div>
  </div>
  