<div >
    <button class="btn btn-primary" (click)="onClick()">Arg Programa</button>
    <div style="float: right;">
        <button class="btn col-md-offset-6" (click)="onClick()">linkedIn</button>
        <button class="btn" (click)="onClick()">instagram</button>
        <button class="btn" (click)="onClick()">facebook</button>
        <button class="btn btn-primary" (click)="onClick()">login</button>
    </div>
</div>
<img style="display: block; margin-left: auto; margin-right: auto; width: 100% "
src="https://previews.123rf.com/images/yemelyanov/yemelyanov1708/yemelyanov170800198/84268852-fondo-abstracto-gradiente-negro-y-azul-con-l%C3%ADnea-larga-textura-horizontal-para-el-dise%C3%B1o.jpg"> 

